/* CSS declarations go here */
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #353742;
  color: #fefefe;
  padding: 0;
  margin: 0;
}

#fblogin {
  text-align: center;
}

header {
  text-align: center;
  padding-top: 15px;
}

a {
  text-decoration: none;
}

h1.logo {
  color: #fefefe;
  font-family: 'Lily Script One', sans-serif;
  font-size: 42pt;
  margin: 50px auto 20px auto;
  border-top: 4px solid;
  border-bottom: 4px solid;
  padding: 0 0 7px 0;
  width: 500px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.playlist_name {
  font-size: 21pt;
  font-weight: 400;
  display: inline-block;
  padding-bottom: 20px;
}

header.small {
  text-align: left;
}

header.small h1.logo {
  margin: 0 15px;
  font-size: 21pt;
  border-top-width: 3px;
  border-bottom-width: 3px;
  padding: 0 0 3px 0;
  width: 200px;
  display: inline-block;
}

h1.logo:hover {
  color: #666;
  border-top: 4px solid #fefefe;
  border-bottom: 4px solid #fefefe;
}

#login-buttons {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

h3.tagline {
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(198, 216, 213);
}

#create_playlist_form {
  text-align: center;
}

#nowPlaying {
  padding: 20px auto;
}

input {
  font: inherit;
  border-radius: 2px;
  border: 1px solid #111;
  padding: 3px 5px;
  box-sizing: border-box;
  outline: none;
  font-size: 16pt;
}

.voteblock {
}

input#playlist_name {
  width: 460px;
}

input#query {
  width: 500px;
}

div.querywrapper {
  text-align: center;
}

.playlists_holder {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.search-results, div.next_tracks {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding-top: 10px;
}

ul.playlists {
  margin: 5px auto;
  width: 400px;
  text-align: left;
}

ul.playlists a {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  color: orange;
  padding: 15px;
  margin-bottom: 1px;
  font-size: 16pt;
}

ul.playlists a:hover {
  background: rgba(0, 0, 0, 0.8);
}

input.add_track:hover {
  background: #76EE00;
}

input.add_track {
  background: #4CBB17;
  border: 0;
  color: #fff;
  width: 30px;
  display: inline-block;
  cursor: pointer;
  font-size: 12pt;
  margin: 5px 10px;
}

div.next_tracks {
  font-size: 18px;
}

.padding-container {
  padding: 15px;
}

ul.tracks li {
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 1px;
}

ul.tracks li .voteblock,
ul.tracks li .title,
ul.tracks li .vote {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  font-size: 16pt;
}

ul.tracks li .voteblock {
  padding: 3px 5px;
  outline: none;
  font-size: 16pt;
  width: 50px;
  text-align: center;
  color: #f60;
}

ul.tracks li .title {
  width: 385px;
}

ul.tracks li .vote {
  width: 55px;
}
